# Operating System Files
*.DS_Store

# Virtual Environment
.venv

# Environment Variables
.env

# Python
__pycache__/
*.pyc
.pytest_cache
.coverage

# Project Data
*.csv
*.json
*.ipynb

# Terraform
*.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars

# IDE (VSCode)
.vscode/!requirements.txt
!local_requirements.txt
